# Server Configuration
PORT=3000

# Playwright Configuration
HEADLESS=true

# Application URL to Test (Default)
TEST_URL=https://medisys.laaraichi.com/
TEST_EMAIL=medecin@gmail.com
TEST_PASSWORD=admin123
